<!DOCTYPE html>
<html lang="it" class="h-full bg-gray-900">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tennis App{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body class="h-full">

    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-start">
                    <a href="{{ url_for('main.index') }}" class="text-white font-bold text-lg">TennisApp Home</a>    
                    <a href="{{ url_for('main.events') }}" class="ml-6 rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Eventi</a>
                    <a href="{{ url_for('main.players') }}" class="ml-4 rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Cerca Giocatori</a>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <div class="relative ml-3">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.account') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Profilo</a>
                            <a href="{{ url_for('main.logout') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Logout</a>

                        {% else %}
                            <a href="{{ url_for('main.login') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Login</a>
                            <a href="{{ url_for('main.register') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Registrati</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container mx-auto mt-10 px-4">
        {% block content %}{% endblock %}
    </div>


</body>
</html>